@model AfribaseAuction.ViewModels.ForgotPasswordViewModel

<h2>Forgot Password</h2>

<form asp-action="ForgotPassword" method="post">
    <div>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">Send Reset Link</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}
